{% extends 'base.html' %} {% block navcontent %}
<ul class="navbar-nav mt-2 mt-lg-0">
  {% if user.is_authenticated %}

  <li class="nav-item">
    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'post_create' %}">Create New Post</a>
  </li>
  {% else%}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">Login</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href=" {% url 'register' %} ">Register</a>
  </li>
  {% endif %}
</ul>

{% endblock navcontent %} {% block content %}
<h1>Mors Blog App</h1>
{{user.username|title}} {% endblock content %}
